extends layout
block content
    .body
      .information
        .notification.child
          h2 Thông báo
          if thongbao
              each post in thongbao
                .item
                  a(href='/post/'+ post._id) #{post.title}
          a(href='/search?q=thông báo', style='font-style: italic;') Xem tất cả
        .news.child
          h2 Tin tức
          if tintuc
              each post in tintuc
                .item
                  a(href='/post/'+ post._id) #{post.title}
          a(href='/search?q=tin tức', style='font-style: italic;') Xem tất cả
        .college-entrance.child
          h2 Tuyển sinh
          if tuyensinh
              each post in tuyensinh
                .item
                  a(href='/post/'+ post._id) #{post.title}
          a(href='/search?q=tuyển sinh', style='font-style: italic;') Xem tất cả
      .media
        img(src='/sinhvien1.jpg', alt='anh1')
        img(src='/sinhvien2.jpg', alt='anh2')
      .information.info-2
        .notification.child
          h2 Nghiên cứu khoa học
          if nghiencuukhoahoc
              each post in nghiencuukhoahoc
                .item
                  a(href='/post/'+ post._id) #{post.title}
          a(href='/search?q=nghiên cứu khoa học', style='font-style: italic;') Xem tất cả
        .news.child
          h2 Hợp tác-liên kết
          if hoptac
              each post in hoptac
                .item
                  a(href='/post'+ post._id) #{post.title}
          a(href='/search?q=hợp tác liên kết', style='font-style: italic;') Xem tất cả
        .college-entrance.child
          h2 Danh mục
          if danhmuc
              each post in danhmuc
                .item
                  a(href='/post/'+ post._id) #{post.title}
          a(href='/search?q=khác', style='font-style: italic;') Xem tất cả
    